{% extends 'base.html' %}


{% block content %}


<div class="container">

    <h2 class="mb-4">Buyurtmalar</h2>

    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>ID</th>
                <th>Price</th>
                <th>Count</th>
                <th>Order date</th>
            </tr>
        </thead>
        <tbody>

            {% for order in orders %}

            <tr>
                <td>
                    <p class="fw-bold mb-1">{{ order.id }}</p>
                </td>
                <td>
                    <p class="fw-bold mb-1">{{ order.price }}</p>
                </td>
                <td>
                    <p class="fw-bold mb-1">{{ order.count }}</p>
                </td>
                <td>
                    <p class="fw-bold mb-1">{{ order.order_date }}</p>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock content %}